@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>WebIdea asp.net test application</h1>

<div class="main">
    <span>Name</span>
    <input id="name" type="text"/><br />
    
    <span>Price</span>
    <input id="price" type="text"/><br />
    
    <span>ImageUrl</span>
    <input id="path" type="text"/><br />
    <button id="send">Submit</button>
</div>

<div class="slider">
    <div class="slide-list">
        <div id="slide" class="slide-wrap">
            @foreach (var item in Model)
            {
                <div class="slide-item">
                    <div class="slide-thumb"><img src="@item.ImagePath" alt="" /></div>
                    <span class="slide-title">@item.Name - @item.Price</span>
                </div>
            }
        </div>
    </div>
    <a href="#" class="navy prev-slide disabled"><i class="icon-left-open-big"></i></a>
    <a href="#" class="navy next-slide"><i class="icon-right-open-big"></i></a>
</div>